/* Makeshift CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section 
{
    display: block;
}


body {
    <!-- margin:50px auto;  -->
    <!-- padding:0px; -->
    <!-- width:800px; -->
    <!-- padding:15px; -->
    <!-- border:1px dashed #333; -->
    <!-- font-family: verdana; -->
    background-color: #fff;
    line-height: 1.25;
    font-family: helvetica;
    font-size: 12pt;
    <!-- text-align:center; -->
}

#box {
    position: relative;
    margin:   25px auto; 
    padding:  0px;
    width:    900px;
    padding:  15px;
    /* border:1px dashed #333; */
    /* font-family: helvetica; */
    background-color:#fff;
    <!-- text-align:center; -->
}

#content {
    position: relative;
    margin:   0px; 
    padding:  0px;
    width:    100%;
}

hr.pic
{
    width: 80%;
    height: 2px;
    color: #000;
    background-color: #888;
    border-width:0;
    margin: 0 0;
    margin-left: 12%;
    margin-right:8%;
    /* margin: 0 8%; */
}

hr.raised
{
    width: 100%; 
    height: 2px;
    color: #ddd;
    background-color: #ddd;
    border-width:0;
    margin-top: 0;
    margin-bottom: 12px;
}


hr.hrstyle 
{
    width: 100%; 
    height: 2px;
    color: #ddd;
    background-color: #ddd;
    border-width:0;
    margin-top:    0;
    margin-bottom: 12px;
}

#identification {
    position: relative;
    left: 0%;
    top:  0%;
    padding: 0 0;
    margin:  0 0;
    width:70%;
    /* background-color: #ddd; */
}

#picture {
    position:         absolute;
    display:          block;
    padding:          0 0;
    margin:           0 0;
    top:              0%;
    left:             70%; /* 540px 60%  */ 
    width:            30%; /* 360px 40%; */
    height:           167px;
    /* background-color: #faa; */
    text-align:       center;
    line-height:      167px;
    vertical-align:   bottom;
}

#main {
    /* font-variant: small-caps; */
    font-weight: bold;
    font-size: 180%;
    margin: 0 0;
}

h1 {
    font-weight: bold;
    font-size: 180%;
    margin: 0 0;
    padding: 0 0;
    margin-bottom: -3px;
    /* line-height: 100%; */
}

h2 {
    /* font-variant: small-caps; */
    font-weight: bold;
    font-size: 110%;
    margin: 0 0;
    padding: 0 0;
    margin-bottom: px;
    /* line-height: 100%; */
}

#reftxt {
    vertical-align: top;
}
#refimg {
    width: 290px; 
    text-align: center;
    vertical-align: top;
}

#refname {
    font-weight: bold;
}


a {
    color: rgb(50, 50, 50);
    text-decoration: underline;
}

a:visited {
    color: rgb(100, 100, 100);
    text-decoration: underline;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

